* {
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

.box-one {
    background-color: red;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 20px solid purple;
    margin: 100px;
}

.box-two {
    background-color: rgb(25, 0, 255);
    border: 30px solid rgb(24, 167, 36);
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 30px solid purple;
    margin: 70px;
}